{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    </link>
    <title>BookTime</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">BookTime</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if request.path == "/" %}active{% endif %}">
                    <a class="nav-link" href="/">
                        Home
                    </a>
                </li>
                <li class="nav-item {% if request.path == "/about-us/" %}active{% endif %}">
                    <a class="nav-link" href="/about-us/">
                        About us
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">{{message}}</div>
    {% endfor %}
    {% if request.basket %}
    <div>
        {{request.basket.count}} item in basket
    </div>
    {% endif %}
    {% block content %}
    {% endblock content %}
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/popper.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    {% block js %}
    {% endblock js %}
</body>

</html>