aiohttp==3.5.4
aioredis==1.2.0
appnope==0.1.0
asgiref==3.1.2
async-timeout==3.0.1
attrs==19.1.0
autobahn==19.5.1
Automat==0.7.0
backcall==0.1.0
cairocffi==1.0.2
CairoSVG==2.3.1
cffi==1.12.3
channels==2.2.0
channels-redis==2.4.0
chardet==3.0.4
constantly==15.1.0
cssselect2==0.2.1
daphne==2.3.0
decorator==4.4.0
defusedxml==0.6.0
Django==2.2
django-debug-toolbar==1.11
django-extensions==2.1.6
django-filter==2.1.0
django-tables2==2.0.6
django-webpack-loader==0.6.0
django-widget-tweaks==1.4.3
djangorestframework==3.9.3
factory-boy==2.11.1
Faker==1.0.5
hiredis==1.0.0
html5lib==1.0.1
hyperlink==19.0.0
idna==2.8
idna-ssl==1.1.0
incremental==17.5.0
ipython==7.5.0
ipython-genutils==0.2.0
jedi==0.13.3
msgpack==0.6.1
multidict==4.5.2
parso==0.4.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.0.0
prompt-toolkit==2.0.9
psycopg2==2.8.2
ptyprocess==0.6.0
pycparser==2.19
pydotplus==2.0.2
Pygments==2.3.1
PyHamcrest==1.9.0
pyparsing==2.4.0
Pyphen==0.9.5
python-dateutil==2.8.0
pytz==2019.1
selenium==3.141.0
six==1.12.0
sqlparse==0.3.0
text-unidecode==1.2
tinycss2==1.0.2
traitlets==4.3.2
Twisted==19.2.0
txaio==18.8.1
typing-extensions==3.7.2
urllib3==1.25.2
wcwidth==0.1.7
WeasyPrint==47
webencodings==0.5.1
Werkzeug==0.15.2
whitenoise==4.1.2
yarl==1.3.0
zope.interface==4.6.0
